<section class="bg-white page-section" id="{{ site.data.sitetext.spirits.section | default: "spirits" }}">
    <div class="container">
        <div style="text-align: center; margin: 50px 0;"></div>
      <div class="row">
        <div class="col-lg-12">
          <h5 class="section-subheading">{{ site.data.sitetext[site.locale].spirits.text | markdownify }}</h5>
          <h2 class="section-heading text-uppercase text-center">{{ site.data.sitetext[site.locale].spirits.title | markdownify | default: "certificate" }}</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <h6 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.body | markdownify | default: "certificate" }}</h6>
        </div>
        </div>
    </div>   
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h5 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].spirits.text1 | markdownify }}</h5>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <h6 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.text2 | markdownify | default: "certificate" }}</h6>
          </div>
        </div>
        <div style="text-align: center; margin: 20px 0;">
            <h6 style="margin-top: 10px; font-size: 25px; color: #555;">
            Emotional Category
            </h6>
            <h6 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.text3 | markdownify | default: "certificate" }}</h6>
            <img src="{{ classification.image3 | default: '/assets/img/spirits/label_distribution.png' }}" alt="Geographical Dimension" 
                  class="img-fluid" style="max-width: 100%; height: auto;">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div style="text-align: center; margin: 40px 0;">
                <h6 style="margin-top: 10px; font-size: 25px; color: #555;">
                    Emotional Curve
                </h6>
                <h6 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.text4 | markdownify | default: "certificate" }}</h6>
                <img src="{{ classification.image3 | default: '/assets/img/spirits/label_curve.png' }}" alt="Geographical Dimension" 
                    class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div style="text-align: center; margin: 40px 0;"></div>
                <h5 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.text5 | markdownify | default: "certificate" }}</h5>
        </div>
        <div class="row">
            <div class="col-md-6">
            <img src="{{ classification.image3 | default: '/assets/img/spirits/pie1.png' }}" alt="Geographical Dimension" 
            class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
            <img src="{{ classification.image3 | default: '/assets/img/spirits/pie2.png' }}" alt="Geographical Dimension" 
            class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
            <img src="{{ classification.image3 | default: '/assets/img/spirits/pie3.png' }}" alt="Geographical Dimension" 
            class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
            <div class="col-md-6">
            <img src="{{ classification.image3 | default: '/assets/img/spirits/pie4.png' }}" alt="Geographical Dimension" 
            class="img-fluid" style="max-width: 100%; height: auto;">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <h6 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.text6 | markdownify | default: "certificate" }}</h6>
        </div>
        <div class="col-md-12">
            <h5 class = 'section-subheading'>{{ site.data.sitetext[site.locale].spirits.text7 | markdownify | default: "certificate" }}</h5>
        </div>
        </div>
    </div>
  </section>
